<a href="https://colab.research.google.com/github/elakiya04/machine-learning-basics/blob/main/boston_housing_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BOSTON HOUSING PRICE

In [ ]:
from sklearn.datasets import load_boston 
from sklearn import preprocessing
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error 
from numpy import random 
from sklearn.model_selection import train_test_split

## load dataset and performing test-train split

In [ ]:
boston = load_boston()          
X = boston.data                          
Y = boston.target                        

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

df = pd.DataFrame(X_train, columns = boston.feature_names)
df.head()

       CRIM    ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
0   0.19133  22.0   5.86   0.0  0.431  ...   7.0  330.0     19.1  389.13  18.46
1   0.10328  25.0   5.13   0.0  0.453  ...   8.0  284.0     19.7  396.90   9.22
2   0.10469  40.0   6.41   1.0  0.447  ...   4.0  254.0     17.6  389.25   6.05
3   8.71675   0.0  18.10   0.0  0.693  ...  24.0  666.0     20.2  391.98  17.12
4  10.83420   0.0  18.10   0.0  0.679  ...  24.0  666.0     20.2   21.57  25.79

[5 rows x 13 columns]

## Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train, Y_train)
y_pred= model.predict(X_test)
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
MAE=mean_absolute_error(Y_test,y_pred) 
MSE=mean_squared_error(Y_test, y_pred)
RMSE=np.sqrt(MSE)
r2=r2_score(Y_test, y_pred)
print("Mean Absolute Error=", MAE)
print("Mean Squared Error=", MSE)
print("Root Mean Squared Error=", RMSE)
print("R2 score=", r2)

Mean Absolute Error= 3.6683301481357256
Mean Squared Error= 29.782245092302524
Root Mean Squared Error= 5.457311159564069
R2 score= 0.635463843320211